<header class="tab-container">
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link nav-btn active" href="{{url_for('inventory')}}">Inventory</a>
                <a class="nav-link nav-btn" href="{{url_for('login')}}">Audit Log</a>
                <a class="nav-link nav-btn" href="{{url_for('create_user')}}">User Account</a>
                <a class="nav-link nav-btn" href="{{url_for('login')}}">Log out</a>

            </div>
        </div>
    </nav>
</header>