<header class="sticky-top">
    <nav class="navbar navbar-expand-sm custom-navbar">
        <div class="container-fluid">

            <div class="navbar-nav d-flex w-100">
                <a class="nav-link nav-btn active" href="{{url_for('inventory')}}">Inventory</a>
                {% if session.clearance == 3 %}
                <a class="nav-link nav-btn" href="{{url_for('login')}}">Audit Log</a>
                {% endif %}
                <a class="nav-link nav-btn" href="{{url_for('user_account')}}">User Account</a>
                {% if request.endpoint == 'inventory' %}
                <div class="search-bar col-auto">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-item-modal">Add
                        Item</button>
                </div>

                <div class="dropdown" data-bs-auto-close="outside">
                    <button type="button" class="btn btn-primary col-auto" data-bs-toggle="dropdown"
                        data-bs-target="#tag-filter-modal">Filter</button>
                    <div class="dropdown-menu">
                        <p class="text-center">Select tags:</p>
                        <div class="d-flex flex-column m-2">
                            {% for tag in tags %}
                            <label class=" border rounded m-1">
                                <input type="checkbox" form="search-form" class="form-check-input m-1" name="tags"
                                    value="{{tag.tagID}}">
                                <label class="form-check-label flex-fill">{{tag.name}}</label>
                            </label>
                            {% endfor %}
                        </div>

                    </div>
                </div>


                <div class="search-bar col-auto flex-grow-1">
                    <form action="submit-search" method="POST" id="search-form"> <!--Search bar-->
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="search" value="{{search}}">
                        </div>
                    </form>
                </div>
                {% endif %}
                <form id="log-out-form" action="/log-out" method="POST"></form>
                <button class="nav-link nav-btn ms-auto flex-shrink-0" type="submit" form="log-out-form">Log
                    out</button>
            </div>
        </div>

    </nav>
</header>
{% if request.endpoint == 'inventory' %}
<div class="modal fade" id="add-item-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">Add Item</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form action="/submit-item" method="POST" enctype="multipart/form-data">
                    <input type="text" class="form-control" placeholder="Product Name" name="name">
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" step="0.01" min="0" placeholder="Enter Price"
                            name="price">
                    </div>
                    <br>
                    <input type="number" class="form-control" min="0" placeholder="Enter Initial Stock" name="amount">
                    <br>
                    <textarea class="form-control" placeholder="Enter Description" name="desc"></textarea>
                    <br>
                    <input type="number" class="form-control" min="0" placeholder="Enter Low Threshhold"
                        name="lowCount">
                    <br>
                    <input type="file" class="form-control" accept="image/*" name="imageFile">
                    <br>
                    <input type="submit" class="form-control" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}