<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audit log</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='head-style.css') }}">

    <link href="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    {% include 'include/head-navbar.html' %}
    <h1 class="text-center">Audit Log</h1>
    <div class="container w-100">
        <div class="overflow-hidden">
            <div class="row g-0">
                <div class="border col text-center p-1">
                    <h6>Timestamp</h6>
                </div>
                <div class="border col text-center p-1">
                    <h6>User</h6>
                </div>
                <div class="border col text-center p-1">
                    <h6>Action</h6>
                </div>
                <div class="border col text-center p-1">
                    <h6 class="text-nowrap">Item Affected</h6>
                </div>
                <div class="border col text-center p-1">
                    <h6># Items</h6>
                </div>
            </div>
            {% for log in logs %}
            <div class="row g-0">
                <div class="border col text-center p-1">
                    <p>{{log.changeTime}}</p>
                </div>
                <div class="border col text-center p-1">
                    <p>{{log.userID}}</p>
                </div>
                <div class="border col text-center p-1">
                    <p>{{log.actionTaken}}</p>
                </div>
                <div class="border col text-center p-1">
                    <p class="text-nowrap">{{log.effectiveChange}}</p>
                </div>
                <div class="border col text-center p-1">
                    <p>{{log.changeQuantity}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>