<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audit log</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='head-style.css') }}">

    <link href="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='box.ico') }}">

</head>

<body>
    {% include 'include/head-navbar.html' %}
    <h3 class="text-center">Audit Log</h3>
    <div class="d-flex w-100 px-5 py-2">
        <div class="overflow-hidden border border-dark w-100" style="background: #EEE;">
            <div class="row g-0 overflow-hidden" style="background: #CCC;">
                <div class="border border-dark col-2 text-center p-1 overflow-auto">
                    <h6>Timestamp</h6>
                </div>
                <div class="border border-dark col-3 text-center p-1 overflow-auto">
                    <h6>User</h6>
                </div>
                <div class="border border-dark col-3 text-center p-1 overflow-auto">
                    <h6>Action</h6>
                </div>
                <div class="border border-dark col-3 text-center p-1 overflow-auto">
                    <h6 class="text-nowrap ">Item Affected</h6>
                </div>
                <div class="border border-dark col-1 text-center p-1 overflow-auto">
                    <h6 class="text-nowrap ">#</h6>
                </div>
            </div>
            {% for log in logs %}
            <div class="row g-0 text-nowrap">
                <div class="border border-dark col-2 text-center py-0 px-1 overflow-auto">
                    <p class="mb-1">{{log.changeTime}}</p>
                </div>
                <div class="border border-dark col-3 text-center py-0 px-1 overflow-auto">
                    <p class="mb-1">{{log.userID}}</p>
                </div>
                <div class="border border-dark col-3 text-center py-0 px-1 overflow-auto">
                    <p class="mb-1">{{log.actionTaken}}</p>
                </div>
                <div class="border border-dark col-3 text-center py-0 px-1 overflow-auto">
                    <p class="mb-1">{{log.effectiveChange}}</p>
                </div>
                <div class="border border-dark col-1 text-center py-0 px-1">
                    <p class="mb-1">{{log.changeQuantity | default("-", true)}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>