<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='head-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inventory-list.css') }}">
    <link href="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='box.ico') }}">
</head>

<body>
    {% include 'include/head-navbar.html' %}

    {% for item in items %}
    <div class="item-card container rounded pb-2" style="background: #EEE">
        <div class="d-flex flex-grow-0">
            <div class="d-flex flex-column flex-grow-1 overflow-hidden">
                <div class="d-flex w-100 flex-grow-1 mb-1 p-1 rounded" style="background:#FFFFFF">
                    <div class="m-1 text-center">
                        <div id="stock-backdrop-{{item.productID}}"
                            class="p-2 rounded d-flex align-items-center position-relative justify-content-center"
                            style="background-color: {{item.color}}; width: 120px; height: 120px; flex-shrink: 0;">
                            <img src="{{item.image}}" alt="No Image Found" class="w-100 h-100 object-fit-cover"
                                style="max-width: 100%; max-height: 100%; object-fit: contain; display: block;">
                            <img src="{{ url_for('static', filename='OutOfStock.png') }}" class="object-fit-cover"
                                style="max-width: 100%; max-height: 100%; object-fit: contain; display: {% if item.color == '#E44242' %}block{% else %}none{% endif %}; position: absolute;"
                                id="img-overlay-{{item.productID}}">

                        </div>
                        {% if item.color == "#FFAA0C" %}
                        <h6 id="stock-{{item.productID}}" class="mb-0" style="color: #FFAA0C">Stock low</h6>
                        {% elif item.color == "#E44242" %}
                        <h6 id="stock-{{item.productID}}" class="mb-0" style="color: #E44242">Out of stock</h6>
                        {% else %}
                        <h6 id="stock-{{item.productID}}" class="mb-0" style="color: #ffffff"></h6>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 item-info w-100 rounded m-1">
                        <div class="d-flex gap-1 align-items-start mx-2 flex-grow-0 flex-shrink-1">
                            <h2 id="name-{{item.productID}}" class="mb-0">{{item.name}}</h2>
                        </div>
                        <div class="d-flex gap-1 align-items-start mx-2">
                            <label class="form-label mb-0">ID # :</label>
                            <p id="productID-{{item.productID}} " class="mb-0">{{item.productID}}</p>
                        </div>
                        <div class="d-flex gap align-items-star  mx-2">
                            <label class="form-label mb-0">Price: $</label>
                            <p id="price-{{item.productID}}" class="mb-0">{{"%.2f" % item.price}}</p>
                        </div>
                        <div class="d-flex gap-1 align-items-start  mx-2">
                            <label class="form-label mb-0">Desc: </label>
                            <p class="w-100 overflow-auto mb-0" style="max-height: 60px;"
                                id="description-{{item.productID}}">
                                {{item.description}}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column ms-auto text-nowrap">
                        {% if session['clearance'] >= 2 %}
                        <div class="m-1">
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                                data-bs-target="#stock-modal-{{item.productID}}">Update
                                Stock</button>
                        </div>
                        {% endif %}
                        {% if session['clearance'] == 3 %}
                        <div class="m-1">
                            <button type="button" class="btn btn-warning w-100" data-bs-toggle="modal"
                                data-bs-target="#item-modal-{{item.productID}}">Edit Item
                                ✎</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex align-items-center overflow-hidden">
                    {% if session['clearance'] == 3 %}
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                        data-bs-target="#tag-modal-{{item.productID}}">Edit Tags ✎</button>
                    {% endif %}
                    <div class="tag-list overflow-auto flex-grow-1" style="min-width: 0;">
                        {% for tag in item.tags %}
                        <div class="tag d-flex align-items-center px-1 m-1" style="background: #FFFFFF">
                            <p class="m-1">{{tag.name}}</p>
                            {% if session.clearance == 3 %}
                            <form action="remove-tag" method="POST">
                                <input type="hidden" value="{{tag.tagID}}" name="tagID">
                                <input type="hidden" value="{{tag.name}}" name="tagName">
                                <input type="hidden" value="{{item.productID}}" name="productID">
                                <input type="hidden" value="{{item.name}}" name="productName">
                                <input type="submit" class="btn-sm btn-close" value="">
                            </form>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
        {% if session['clearance'] == 3 %}
        <div class="modal fade" id="item-modal-{{item.productID}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">Edit Item:</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <form class="edit-item-form" action="submit-edit-item" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" value="{{item.productID}}" name="productID">
                            <div class="container-fluid">
                                <div class="mb-3">
                                    <label class="form-label small">Change Image</label>
                                    <input type="file" class="form-control" accept="image/*" name="imageFile">
                                </div>
                                <div class="row p-2">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"
                                                id="inputGroup-name-{{item.productID}}">Name</span>
                                            <input type="text" class="form-control" placeholder="New Name" name="name"
                                                value="{{item.name}}" aria-label="Name"
                                                aria-describedby="inputGroup-name-{{item.productID}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"
                                                id="inputGroup-desc-{{item.productID}}">Description</span>
                                            <textarea class="form-control" placeholder="New Description"
                                                name="description" aria-label="Description"
                                                aria-describedby="inputGroup-desc-{{item.productID}}">{{item.description}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Price -->
                                <div class="row p-2">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="number" step="0.01" class="form-control" name="price"
                                                value="{{item.price}}" placeholder="Price">
                                        </div>
                                    </div>
                                </div>

                                <!-- Quantity -->
                                <div class="row p-2">
                                    <div class="col-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Quantity</span>
                                            <input type="number" class="form-control" name="quantity"
                                                value="{{item.quantity}}" placeholder="Quantity"
                                                id="quantity-field-{{item.productID}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 mt-4 mb-2">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-outline-danger w-100"
                                            formaction="delete-item" onclick="return confirm('Confirm delete?')">Delete
                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <button type="submit" class="btn btn-primary w-100 shadow-sm">Update
                                            Item</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal fade" id="tag-modal-{{item.productID}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header justify-content-center m-1 p-2">
                        <h6 class="modal-title ">Edit tags:</h6>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body pt-1">
                        <div class="container m-0 p-0">
                            <form method="POST" class="row m-1">
                                <div class="col-3 justify-content-center">
                                    <button class="btn btn-primary text-nowrap p-1" type="submit"
                                        formaction="create-tag">Create
                                        tag</button>
                                </div>
                                <div class="col-6 justify-content-center">
                                    <input class="form-control border-dark" type="text" placeholder="Enter tag name"
                                        name="name">
                                </div>
                                <div class="col-3 justify-content-center">
                                    <button class="btn btn-danger text-nowrap p-1" type="submit"
                                        formaction="delete-tag">Delete
                                        tag</button>
                                </div>
                            </form>
                        </div>
                        <form action="submit-tags" method="POST">
                            <p class="text-center">Add tags:</p>
                            <div class="container m-2">
                                {% for tag in tags | reject('in', item.tags)%}
                                {% if loop.index0 % 3 == 0 %}
                                <div class="row w-100 p-0">
                                    {% endif %}
                                    <div class="col-4 p-1">
                                        <label class="w-100 border border-dark rounded">
                                            <input type="checkbox" class="form-check-input m-1" name="tags"
                                                value="{{tag.tagID}}">
                                            <input type="hidden" name="tagName" value="{{tag.name}}">

                                            <span class="form-check-label flex-fill text-truncate">{{tag.name}}</span>
                                        </label>
                                    </div>
                                    {% if loop.index0 % 3 == 2 or loop.last %}
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <input type="hidden" name="productID" value="{{item.productID}}">
                            <input type="hidden" name="productName" value="{{item.name}}">
                            <div class="d-flex justify-content-center p-1">
                                <input type="submit" class="btn btn-primary" value="Apply">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if session['clearance'] >= 2 %}
        <div class="modal fade" id="stock-modal-{{item.productID}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">Edit Stock:</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <form class="edit-stock-form" action="submit-edit-stock" method="POST">
                            <input type="hidden" value="{{item.productID}}" name="productID">
                            <div class="container-fluid">
                                <input type="hidden" name="productID" value="{{item.productID}}">
                                <input type="hidden" name="name" value="{{item.name}}">
                                <input type="hidden" name="lowThreshhold" value="{{item.lowThreshhold}}">
                                <!-- Quantity -->
                                <div class="row p-2">
                                    <div class="col-12">
                                        <div class="input-group mb-0">
                                            <span class="input-group-text">Quantity</span>
                                            <input type="number" class="form-control" name="quantity"
                                                value="{{item.quantity}}" placeholder="Quantity" min="0" step="1">
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center p-1">
                                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        {% endif %}

    </div>
    {% endfor %}
    {% if not items %}
    <div class="w-100 text-center my-5">
        <p class="text-muted">No results</p>
    </div>
    {% else %}
    <div class="w-100 text-center my-5">
        <p class="text-muted">End of listing</p>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='inventory-script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>