<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='head-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inventory-list.css') }}">
    <link href="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    {% include 'include/head-navbar.html' %}  
    

    {% for item in items %}
        <div class="item-card">
            <img src="{{item.image}}" alt="No Image Found" class="item-image">
            <div class="item-info">
                <h2 id="name-{{item.productID}}">{{item.name}}</h2>
                <p>Item #: {{item.productID}}</p>
                <p>Price: ${{item.price}}</p>
                <p id="desc-{{item.id}}">Description: {{item.description}}</p>
                <div class="tag-list">
                    {% for tag in item.tags %}
                        <div class="tag"><span>X</span>{{tag.name}}</div>
                    {% endfor %}
                </div>
            </div>
            {% if session['clearance'] == 3 %}
                <!-- <div class="edit-btn" onclick="editItem({{item.productID}})">✎</div> -->
                <!-- <div class="note">Note: Only roles that can edit items and such see this button</div> -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#item-modal-{{item.productID}}">✎</button>

                <div class="modal" id="item-modal-{{item.productID}}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Item:</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <form action="submit-edit-item" method="POST">
                                    <input type="text" placeholder="New Name" name="name" value="{{item.name}}">
                                    <textarea type="text" placeholder="New Description" name="description">{{item.description}}</textarea>
                                    <input type="hidden" value="{{item.productID}}" name="productID">
                                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                                </form>

                                <!-- Modal footer -->
                                <!-- <div class="modal-footer"> -->
                                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if session['clearance'] == 3 %}
                <br>    
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tag-modal-{{item.productID}}">Add Tag</button>
                
                <div class="modal" id="tag-modal-{{item.productID}}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                                <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Enter tag name:</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="submit-tag" method="POST">
                                    <input type="text" placeholder="name" name="name">
                                    <input type="hidden" name="productID" value="{{item.productID}}">
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
<script src="{{ url_for('static', filename='inventory-script.js') }}"></script>
<script src="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>