<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Accounts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='head-style.css') }}">
    <link href="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='box.ico') }}">

</head>

<body>
    {% include 'include/head-navbar.html' %}
    <div class="container d-flex flex-column align-items-center" style="min-height: 80vh; margin-top: 5vh;">
        <h3 class="text-center mb-4">Account Info</h3>

        <div class="container mt-2 mb-2" style="max-width: 400px;">
            <div class="input-group mb-3">
                <span class="input-group-text" style="flex: 0 0 28%;">Username:</span>
                <div class="form-control">
                    {{ session['username'] }}
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="flex: 0 0 28%;">Password:</span>
                <div class="form-control">
                    ********
                </div>
            </div>

            <div class="d-grid justify-content-center mb-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#changePasswordModal">
                    Change Password
                </button>
            </div>
        </div>

        {% if session['clearance'] >= 2 %}
        <hr style="border: 1px solid black;">
        <h3 class="text-center mb-4">Create User</h3>
        <div class="container mt-2" style="max-width: 400px;">
            <form action="/create-user-submit" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" style="flex: 0 0 28%;">Username:</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        name="username">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="flex: 0 0 28%;">Password:</span>
                    <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2"
                        name="password">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="flex: 0 0 27%;">Confirm Password:</span>
                    <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2"
                        name="confirm">
                </div>

                <div class="mb-3">
                    <select class="form-select" name="clearance">
                        <option selected disabled>Select Clearance:</option>
                        <option value="1">Employee</option>
                        {% if session['clearance'] >=3 %}
                        <option value="2">Manager</option>
                        <option value="3">Admin</option>
                        {% endif %}
                    </select>
                </div>

                <div class="d-grid justify-content-center mb-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <hr style="border: 1px solid black;">
        <h3 class="text-center mb-4">Change Employee Password</h3>
        <div class="container mt-2" style="max-width: 400px;">
            <div class="container mt-2" style="max-width: 400px;">
                <form action="/edit-user-submit" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="flex: 0 0 28%;">Username:</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            name="username">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" style="flex: 0 0 28%;">Password:</span>
                        <input type="password" class="form-control" aria-label="Password"
                            aria-describedby="basic-addon2" name="password">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" style="flex: 0 0 27%;">Confirm Password:</span>
                        <input type="password" class="form-control" aria-label="Password"
                            aria-describedby="basic-addon2" name="confirm">
                    </div>

                    <div class="d-grid justify-content-center mb-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

        {% if session['clearance'] >= 3 %}
        <hr style="border: 1px solid black;">
        <h3 class="text-center mb-4">Delete User</h3>
        <div class="container mt-2" style="max-width: 400px;">
            <form id="delete-account" action="/delete-user-account" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" style="flex: 0 0 41%;">Account to delete:</span>
                    <input type="text" class="form-control" aria-label="Account to delete"
                        aria-describedby="basic-addon1" name="username">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" style="flex: 0 0 41%;">Confirm account:</span>
                    <input type="text" class="form-control" aria-label="Confirm Account Name"
                        aria-describedby="basic-addon1" name="confirm">
                </div>

                <div class="d-grid justify-content-center mb-5">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteUserModal">
                        Delete Account
                    </button>
                </div>

            </form>
        </div>
        {% endif %}

    </div>

    <div class="modal fade" id="changePasswordModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form id="change-password-form" action="/change-password" method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="flex: 0 0 28%;">Password:</span>
                            <input type="password" class="form-control" aria-label="Password"
                                aria-describedby="basic-addon2" name="password">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" style="flex: 0 0 27%;">Confirm Password:</span>
                            <input type="password" class="form-control" aria-label="Password"
                                aria-describedby="basic-addon2" name="confirm">
                        </div>
                        <!-- <input type="password" class="form-control" placeholder="Enter new password" name="password">
                        <input type="password" class="form-control" placeholder="Confirm new password" name="confirm"> -->
                    </form>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                        form="change-password-form">Save</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body text-center">
                    <p>Are you sure you want to delete account 'name'?</p>
                    <p>This is a permanent action, and cannot be undone</p>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" form="delete-account">Delete
                        Account</button>
                </div>

            </div>
        </div>
    </div>

    <script src="https://jsdelivr.net.cn"></script>
    <script src="https://cdn.jsdelivr.net.cn/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>